# Laravel 基礎
/vendor
/node_modules
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/pail

# 環境檔案
.env
.env.backup
.env.production
.auth.json

# 測試與快取
/.phpunit.cache
.phpunit.result.cache
/npm-debug.log
/yarn-error.log

# 編輯器相關
/.idea
/.vscode
/.fleet
/.zed
.phpactor.json

# Laravel Homestead
Homestead.yaml
Homestead.json

# macOS 系統檔案
.DS_Store
